@{
    ViewData["Title"] = "Home Page";
}
<div id="index">
    <div class="header">
        <h1>Professional</h1>
    </div>
    <div class="mainContent">
        <a href="register"><button>Register!</button></a>
        <a href="login"><button>Login!</button></a>
    </div>
</div>